body {
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
}

.main-div {
  list-style-type: none;
  box-shadow: 8px 6px 16px 0;
  padding-left: 0;
}

.tasks {
  list-style-type: none;
  padding-left: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  padding: 14px;
  border-bottom: 2px solid grey;
}

.delete-icon {
  display: none;
}

.add-section > input {
  border: none;
}

.task > p > input {
  width: 20px;
  height: 20px;
  border: 1px solid;
}

.add-section > input:focus {
  outline: none;
}

.shared-property {
  color: grey;
  font-size: 18px;
}

.clear-part {
  text-align: center;
  padding: 8px;
  background-color:#F5F5F5;
}

.fa {
  color: grey;
}

.task > p {
  color: black;
  font-weight: 500;
}
